<% provide(:title, @user.name) %>
<%# <h1><%= @user.name >%, <%= @user.email >%</h1>--> %>
<div><%#10.2 で月日分を追加%>
    <table class="table table-bordered table-condensed user-table">
        <tr>
            <td>【<%= l(@first_day, format: :middle) %>】勤怠管理表</td> <%#10.4 update%>
            <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
            <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
            <td>月初日：<%= l(@first_day, format: :short) %></td><%#10.3update%>
        </tr>

        <tr>
            <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
            <td>名前：<%= @user.name %></td>
            <td>出勤日数：<%= @worked_sum %>日</td> <%#update10.7%>
            <td>月末日：<%= l(@last_day, format: :short) %></td> <%#10.3update%>
        </tr>
    </table>
</div>

<div class="btn-users-show"> <%#10.4%>
    <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
    <%= link_to "1ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
    <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-info" %>
</div>

<div>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
        <thead>
            <tr><%#colspan="1" 縦結合%>
                <th rowspan="2" class="table-header" width="90">残業申請</th>
                <th rowspan="2">日付</th>
                <th rowspan="2">曜日</th>
                <th rowspan="2">勤怠登録</th>
                <th colspan="2">出社</th>
                <th colspan="2">退社</th>
                <th rowspan="2">在社時間</th>
                <th rowspan="2">備考</th>
            </tr>
            <tr>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
            </tr>
        </thead>

        <tbody>
            <% @attendances.each do |day| %> <%#10.4 (@first_day..@last_day).each do%>
            <% 
          css_class = 
          case $days_of_the_week[day.worked_on.wday]
          when '土' then
            'text-primary'
          when '日' then
            'text-danger'
          end
        %>

            <tr>

                <!-- 残業申請ボタン押下　モーダルへ飛ぶ-->
                <td class="table-body">
                    <%= link_to "残業申請", attendances_overwork_form_user_path(data:day.worked_on), remote: true, :style=>"color:white;", class: "btn btn-sm btn-primary" %>
                    <%
=begin%>
                    attendances_overwork_form_user_path(data:day.worked_on)
                    <%
=end%>
                </td>
                <td><%= l(day.worked_on, format: :short) %></td>
                <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>

                <%#          <td class= "<%= css_class % >"></td><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] % ></td>%>
                <td>
                    <!-- カレンダー　日にち-->
                    <% if btn_text = attendance_state(day) %>
                    <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
                    <%#<% if (Date.current == day.worked_on) && day.started_at.nil? >%
              <%= link_to "出勤登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" >%
            <% elsif (Date.current == day.worked_on) && day.started_at.present? day.finished_at.nil? >%
              <%= link_to "退勤登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
                    <% end %>
                </td>
                <%#<td><%= l(day, format: :short) >%</td>%> <%#<td><%= $days_of_the_week[day.wday] >%</td>%>
                <%#<td><%= l(format_hour(day.started_at), format: :time) if day.started_at.present? ></td>
          <td><%= l(format_min(day.started_at), format: :time) if day.started_at.present? ></td>%>
                <%#Table%>

                <td><%= format_hour(day.started_at) if day.started_at.present? %></td>
                <td><%= format_min(day.started_at) if day.started_at.present? %></td>
                <td><%= format_hour(day.finished_at) if day.finished_at.present? %></td>
                <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
                <%#<td><%= l(day.started_at, format: :time) if day.started_at.present? ></td> %>
                <td>
                    <% if day.started_at.present? && day.finished_at.present? %>
                    <%= working_times(day.started_at.floor_to(15.minute), day.finished_at.floor_to(15.minute) ) %>
                    <% str_times = working_times(day.started_at.floor_to(15.minute), day.finished_at.floor_to(15.minute)) %>
                    <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
                    <% end %>
                    <%#10.9.2 <% if day.started_at.present? && day.finished_at.present? >%
              <%= working_times(day.started_at, day.finished_at) >%
            <% end %>
                </td>
                <td><%= day.note %></td> <%#11.3.2add%>
            </tr> <%#10.5.2 td 1つ減らす%>
            <% end %>
        </tbody>

        <tfoot> <%#10.8,10.9.2%>
            <!--rowspan:縦結合、colspan：横結合-->
            <tr>
                <td colspan="2">累計日数</td>
                <td colspan="2">総合勤務時間</td>
                <td colspan="2">累計在社時間</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td colspan="2"><%= @attendances.count %></td>
                <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
                <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td> <%#<td colspan="2"></td>%>
            </tr>
        </tfoot>
    </table>
</div>

<!-- モーダル呼び出し-->
<div id="overwork-form-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</div>