<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %> <%#11.1.5%>
<div>
  <h1>勤怠編集画面</h1>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>翌日</th>
        <th>在社時間</th>
        <th>備考(変更理由)</th>
        <th>指示者確認㊞</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <!--第一引数にattendances[],  第二引数 dayの定義-->
        <%= f.fields_for "attendances[]", day do |attendance| %>
        <!-- １ヶ月編集時に日ごとに申請中のステータスとする-->
        <%= attendance.hidden_field :indicater_reply_edit, value: "申請中" %>
        <%#= attendance.hidden_field :indicater_reply_edit, :value => "申請中" %><%#上行と同じ%>
          <tr>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td><%= $days_of_the_week[day.worked_on.wday] %></td>
              <%# if !current_user.admin? && (Date.current < day.worked_on) %> <%#No9 22 test%>
            <% if Date.current < day.worked_on %> <%#add11.3.3　#A06 _edit_at付記%>
              <td><%= attendance.time_field :started_edit_at, readonly: true, class: "form-control" %></td> <%#A06追記 readonly true 11.3.3%>
              <td><%= attendance.time_field :finished_edit_at, readonly: true, class: "form-control" %></td><%#A06 追記%>
              <td><%= attendance.check_box :tomorrow_edit, id: "overday_check", disabled: "true" %></td><%#A06追加 勤怠編集 翌日%>
              <td>
                <% if day.started_edit_at.present? && day.finished_edit_at.present? %>
                  <%= str_times = overtime_worked_on(day.finished_edit_at, day.started_edit_at, day.tomorrow_edit) %>
                  <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
                <% end %>
              </td>
              <td><%= attendance.text_field :note, class: "form-control", placeholder: "変更理由を記載して下さい", disabled: "true" %></td>
              <td><%= attendance.collection_select(:indicater_check_edit, @seniors, :name, :name, {include_blank: "上長を選択して下さい"}, {class: "form-control input-sm", disabled: "true"}) %></td>
            <% else %> <%#11.3.3add#%>
              <td><%= attendance.time_field :started_edit_at, class: "form-control" %></td>
              <td><%= attendance.time_field :finished_edit_at, class: "form-control" %></td>
              <td><%= attendance.check_box :tomorrow_edit, id: "tomorrow" %></td>
              <td> <%#11.1.6%>
                <% if day.started_edit_at.present? && day.finished_edit_at.present? %>
                  <%= str_times = overtime_worked_on(day.finished_edit_at, day.started_edit_at, day.tomorrow_edit) %>
                  <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
                <% end %>
                <%# if day.started_at.present? && day.finished_at.present? %><!--勤怠チュートリアル -->
                  <%# working_times(day.started_at, day.finished_at) %><!--勤怠チュートリアル -->
                <%# end %>
              </td>
              <td><%= attendance.text_field :note, class: "form-control" %></td>
              <td>
                <%= attendance.collection_select(:indicater_check_edit, @seniors, :name, :name, {include_blank: "上長を選択して下さい"}, {class: "form-control input-sm"}) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="center"> <%#11.1.4Cancelボタン%>
    <%= f.submit "編集を保存", class: "btn btn-lg btn-primary" %> <%#11.1.5追加関数%>
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
</div>
<% end %>

<!-- 残業申請ボタンを押すとモーダルへ飛ぶ-->
<%
=begin%>
<td class="table-body"><%= link_to "残業申請", edit_attendance_path(attendance), remote: true, :style=>"color:white;", class: "btn btn-sm btn-primary" %>
    <div id="overwork-form-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</td>

<!--日付-->
<td class="table-body"><%= attendance.attendance_date.month %>/<%= attendance.attendance_date.day %></td>
<!--曜日-->
<td class="table-body"><%= @youbi[attendance.attendance_date.wday] %></td>
<!-- 出社時間の表示  -->
<td class="table-body">
    <%= attendance.arriving_at.hour if !attendance.arriving_at.nil? %>
</td>
<td class="table-body">
    <%= attendance.arriving_at.min if !attendance.arriving_at.nil? %>
</td>
<td class="table-body">
    <!-- 自身の勤怠で出社時間と退社時間が空なら表示  -->
    <% if current_user == @user && attendance.arriving_at.nil? && attendance.leaving_at.nil? && attendance.attendance_date == Date.today %>
    <%= f.hidden_field :update_type, :value => "arriving_at"%>
    <%= f.submit "出社", class: "btn btn-primary btn-block" %>
    <% end %>
</td>

<!-- 退社時間の表示  -->
<td class="table-body">
    <%= attendance.leaving_at.hour if !attendance.leaving_at.nil? %>
</td>
<td class="table-body">
    <%= attendance.leaving_at.min if !attendance.leaving_at.nil? %>
</td>
<td class="table-body">
    <!-- 出社時間入力済みかつ退社時間が空なら表示  -->
    <% if current_user == @user && !attendance.arriving_at.nil? && attendance.leaving_at.nil? && attendance.attendance_date == Date.today %>
    <%= f.hidden_field :update_type, :value => "leaving_at"%>
    <%= f.submit "退社", class: "btn btn-primary btn-block" %>
    <% end %>
</td>
<%
=end%>

